<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<html>

  {% include "head.html" %} 
  
  <body>

    <div class="wrapper">    
        
        {% include "sidebar.html" %}
          
          <div id="content">
            <nav class="navbar navbar-expand-lg navbar-darken-1 bg-darken-1">
              <div class="container-fluid"> 
                <div class="menu-logo">
                  {% include "navbar.html" %} 
                  
                  <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                  </button>

                </div>
                
                {% if messages %}
                    <div class="alert alert-success" role="alert">
                      <ul clas="messages">
                    {% for message in messages %}
                      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                      </ul>
                    </div>
                {% endif %}                
              
              </div>
            </nav>
            
            
            {% block content %}
            {% endblock content %}

          </div>
    </div>
  
    {% include "scripts.html" %}
  
  </body>

</html>
    
                  